body{
    background: black;
    color: aliceblue;
}
}


h1 {
    font-size: 2em;
    color: white;
    background-color:;
    }

h2 {
    color: brown;
    }

p {
    color: blue;
    font-size: small;
    }